@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Ade Display';
    src: url('fonts/Ade-Display.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #141414;
}

body.noscroll {
    overflow: hidden;
}

/* LOADER CSS START */

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #141414;
    z-index: 999;
}

.loader-wrapper.hidden {
    transform: translateX(-100%);
    animation: loader-slide 1s ease-in;
}

.star {
    position: absolute;
    top: calc(50% - 96px);
    left: calc(50% - 75px);
    fill: white;
    transform-origin: 40% 90%;
    animation: fade-in-out 2s infinite;
}

.star .large {
    transform-origin: 50% 50%;
    transform-style: preserve3d;
    animation: rotate1 2s infinite;
}

.star .large-2 {
    transform: rotate(45deg) scale(0.8);
    transform-origin: 33px 33px;
}

.star .small {
    transform-origin: 50% 50%;
    transform-style: preserve3d;
    animation: rotate2 2s infinite;
}

.star .small-1 {
    transform: rotate(45deg) scale(0.667);
    transform-origin: 33px 33px;
}

/* LOADER CSS END */

/* NAVBAR CSS START */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #334c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
}

.navbar.hide-nav {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: #dedace;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -1px;
    padding: 0px 24px;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #dedace;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.hamburger {
    position: absolute;
    right: 16px;
    display: none;
}

.hamburger>i {
    color: #dedace;
    font-size: 24px;
}

@media (max-width: 640px) {
    .hamburger {
        display: block;
    }

    .hamburger>i {
        padding: 5px 10px;
    }

    .hamburger>i.active {
        background-color: #dedace;
        color: #141414;
        border-radius: 10px;
    }

    .nav-collapse {
        position: fixed;
        top: 60px;
        background-color: rgba(45, 72, 56, 0.9);
        width: 100%;
        height: 0;
        overflow-y: hidden;
        transition: height 0.3s ease-in-out;
    }

    .nav-collapse.active {
        height: 300px;
        transition: height 0.3s ease-in-out;
    }

    .nav-menu {
        flex-direction: column;
        text-align: center;
    }

    .nav-link {
        padding: 20px 0px;
    }

    .nav-link:active {
        background-color: #dedace;
        color: #141414;
    }

    .nav-link::after {
        display: none;
    }

}

/* NAVBAR CSS END */

/* HOME CSS START */

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 65%;
}

.logo-index {
    width: 40%;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0px 0px 15px #dedace);
}

@media (max-width: 991px) {
    .logo-index {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .logo-index {
        width: 70%;
    }
}

/* HOME CSS END */

/* ABOUT CSS START */

.about {
    width: 100%;
    height: 100vh;
    background-color: #cac8b1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about>h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #2a271d;
    font-size: 60px;
    letter-spacing: -2px;
}

.chair1 {
    top: -210px;
    left: -40%;
    position: absolute;
    width: 50%;
}

.chair2 {
    bottom: -150px;
    right: -40%;
    position: absolute;
    width: 50%;
    z-index: 1;
}

@media (max-width: 1024px) {
    .chair1 {
        top: -160px;
    }

    .chair2 {
        bottom: -100px;
        right: -42%;
    }
}

@media (max-width: 991px) {
    .chair1 {
        top: -130px;
    }

    .chair2 {
        bottom: -90px;
    }
}

@media (max-width: 768px) {
    .chair1 {
        left: -49%;
        width: 60%;
    }

    .chair2 {
        bottom: -90px;
        width: 60%;
        right: -49%;
    }
}

@media (max-width: 640px) {
    .chair1 {
        top: -100px;
        left: -400px;
        width: 320px;
    }

    .chair2 {
        bottom: -80px;
        width: 320px;
        right: -400px;
    }
}


/* ABOUT CSS END */

/* EVENTS CSS START */

.events {
    width: 100%;
    background-color: #141414;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10vh 0px;
}

.events-ornament {
    top: 17%;
    left: -60vw;
    width: 95%;
    position: absolute;
    z-index: 0;
}

.events-list {
    list-style-type: none;
    color: #aea596;
    font-family: "Ade Display";
    z-index: 1;
}

.events-list>li {
    font-size: 64px;
}

.events-list>li>span {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    vertical-align: top;
    padding-right: 8px;
}

.list-opening {
    padding-left: 12vw;
}

.list-exhibition {
    padding-left: 19vw;
}

.list-workshop {
    padding-left: 25vw;
}

.list-seminar {
    padding-left: 30vw;
}

.list-competition {
    padding-left: 33vw;
}

.list-superjury {
    padding-left: 35vw;
}

.list-performance {
    padding-left: 36vw;
}

.list-awarding {
    padding-left: 37vw;
}

@media (max-width: 1024px) {
    .events-list>li {
        font-size: 48px;
    }

    .events-ornament {
        top: 25%;
        left: -61vw;
    }
}

@media (max-width: 991px) {
    .events-list>li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list-opening {
        padding-left: 33vw;
    }

    .list-exhibition {
        padding-left: 33vw;
    }

    .list-workshop {
        padding-left: 33vw;
    }

    .list-seminar {
        padding-left: 33vw;
    }

    .list-competition {
        padding-left: 33vw;
    }

    .list-superjury {
        padding-left: 33vw;
    }

    .list-performance {
        padding-left: 33vw;
    }

    .list-awarding {
        padding-left: 33vw;
    }
}

@media (max-width: 991px) {
    .events-list>li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list-opening {
        padding-left: 33vw;
    }

    .list-exhibition {
        padding-left: 33vw;
    }

    .list-workshop {
        padding-left: 33vw;
    }

    .list-seminar {
        padding-left: 33vw;
    }

    .list-competition {
        padding-left: 33vw;
    }

    .list-superjury {
        padding-left: 33vw;
    }

    .list-performance {
        padding-left: 33vw;
    }

    .list-awarding {
        padding-left: 33vw;
    }
}

@media (max-width: 768px) {
    .events-list {
        padding-left: 10%;
    }

    .events-list>li {
        font-size: 36px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .list-opening {
        padding-left: 0;
    }

    .list-exhibition {
        padding-left: 0;
    }

    .list-workshop {
        padding-left: 0;
    }

    .list-seminar {
        padding-left: 0;
    }

    .list-competition {
        padding-left: 0;
    }

    .list-superjury {
        padding-left: 0;
    }

    .list-performance {
        padding-left: 0;
    }

    .list-awarding {
        padding-left: 0;
    }
}

@media (max-width: 640px) {
    .events-list>li {
        font-size: 28px;
    }
}

/* EVENTS CSS END */

/* VENUE CSS START */

.venue {
    width: 100%;
    height: 100vh;
    background-color: #cac8b1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.venue>h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #2a271d;
    font-size: 60px;
    letter-spacing: -2px;
}

/* VENUE CSS END */

/* COMPETITION CSS START */

.competition {
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.competition>h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #cfc4b2;
    font-size: 60px;
    letter-spacing: -2px;
}

.competition-card {
    width: 50%;
    height: 90vh;
    background-color: #2a271d;
    border-radius: 20px;
    margin: 30px 15px 30px 30px;
}

.woseminar-card {
    width: 50%;
    height: 90vh;
    background-color: #2a271d;
    border-radius: 20px;
    margin: 30px 30px 30px 15px;
}

.competition-card>h1,
.woseminar-card>h1 {
    font-family: "Ade Display";
    font-weight: 500;
    color: #cfc4b2;
    font-size: 60px;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 1024px) {

    .competition-card>h1,
    .woseminar-card>h1 {
        font-size: 48px;
    }
}

@media (max-width: 991px) {
    .competition {
        width: 100%;
        flex-direction: column;
    }

    .competition-card {
        width: 90%;
        height: 70vh;
        margin: 30px 15px 15px 15px;
    }

    .woseminar-card {
        width: 90%;
        height: 70vh;
        margin: 15px 15px 30px 15px;
    }
}

@media (max-width: 640px) {

    .competition-card>h1,
    .woseminar-card>h1 {
        font-size: 36px;
    }
}

/* COMPETITION CSS END */

/* MERCH CSS START */

.merch {
    width: 100%;
    height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch>h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #cfc4b2;
    font-size: 60px;
    letter-spacing: -2px;
}

/* MERCH CSS END */

/* SPONSOR CSS START */

.sponsor {
    width: 100%;
    height: 70vh;
    background-color: #cac8b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor>h1 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #2a271d;
    font-size: 60px;
    letter-spacing: -2px;
}

/* SPONSOR CSS END */

/* FOOTER CSS START */

.footer {
    width: 100%;
    height: 30vh;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-info {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #cfc4b2;
    padding-left: 100px;
    width: 32%;
}

.right-info {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #cfc4b2;
    padding-right: 100px;
    display: flex;
    align-items: center;
}

.contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 16px;
}

.contact-list>li {
    padding: 5px 0px;
    font-size: 14px;
}

.contact-list>li>i {
    font-size: 21px;
    padding-right: 10px;
    vertical-align: middle;
}

.fa-brands.fa-line {
    font-size: 18px;
}

.footer-logo {
    width: 150px;
}

@media (max-width: 1024px) {

    .left-info>p {
        font-size: 12px;
    }

    .contact-list>li {
        font-size: 12px;
    }

    .contact-list>li>i {
        font-size: 16px;
    }

    .fa-brands.fa-line {
        font-size: 14px;
    }

    .footer-logo {
        width: 130px;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 36px 0px;
    }

    .left-info {
        padding-left: 0px;
        width: 70%;
        text-align: center;
    }

    .right-info {
        padding-right: 0px;
    }
}

/* FOOTER CSS END */

/* KEYFRAMES */

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: rotate(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(90deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate3d(0, 1, 0, 0) scale(0);
    }

    100% {
        transform: rotate3d(0, 1, 0, 180deg) scale(1);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate3d(1, 0, 0, 0) scale(0);
    }

    100% {
        transform: rotate3d(1, 0, 0, -360deg) scale(1);
    }
}

@keyframes loader-slide {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(-100%);
        display: none;
    }
}